<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Course List
        </mat-card-title>
      </mat-card-header>

<form #form="ngForm">
      <mat-card-content>
        <!-- COURSES LIST, select course -->
        <mat-list>
          <mat-list-item *ngFor="let course of courses"
          (click)="selectCourse(course)">
            <h3 matLine>{{course.title}}</h3>
            <p matLine>{{course.description}}</p>
            <button mat-icon-button color="warn"
                    (click)="deleteCourse(course.id); $event.stopImmediatePropagation()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
</form>

    </mat-card>
  </div>

  <div class="course-details">

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Select Course
        </mat-card-title>
      </mat-card-header>

<!--      <form #form="ngForm" (submit)="saveCourse()" )>-->

      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="title"
          type="text" name="title" required
          [(ngModel)]="currentCourse.title">
        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="desc"
                 type="text" name="desc"
                 [(ngModel)]="currentCourse.description">
        </mat-form-field>

        <section>
          <h4>{{currentCourse.percentComplete}} % complete</h4>
          <mat-slider
          class="full-width"
          min="0"
          max="100"
          name="percentComplete"
          [(ngModel)]="currentCourse.percentComplete">
          </mat-slider>
        </section>

<!--      when use the ngModel, have to have a name with it.-->

        <section>
          <mat-checkbox name="" [(ngModel)]="currentCourse.favorite"></mat-checkbox>
        </section>

      </mat-card-content>

<!--      <mat-card-content>-->
<!--        <pre *ngIf="currentCourse;">{{currentCourse| json}} </pre>-->
<!--      </mat-card-content>-->
      <mat-card-actions>
        <button type="button" mat-button (click)="cancel()"> Cancel</button>
        <button type="button" mat-button color="primary"> Submit</button>
      </mat-card-actions>


<!--      </form>-->

      <pre>{{form.value | json}}</pre>
      <pre>{{form.valid | json}}</pre>

    </mat-card>
  </div>
</div>
